<div class="mb-3">
    <a href="/" class="text-decoration-none">&larr; Back to list</a>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <h1 class="h4 mb-3">{{title}}</h1>

        <form method="POST" action="{{action}}">

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">First Name *</label>
                        <input name="FirstName" class="form-control {{#if errors.FirstName}}is-invalid{{/if}}"
                               value="{{student.FirstName}}">
                        {{#if errors.FirstName}}
                            <div class="invalid-feedback">
                                {{errors.FirstName}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Last Name *</label>
                        <input name="LastName" class="form-control {{#if errors.LastName}}is-invalid{{/if}}"
                               value="{{student.LastName}}">
                        {{#if errors.LastName}}
                            <div class="invalid-feedback">{{errors.LastName}}</div>{{/if}}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Major</label>
                        <input name="Major" class="form-control {{#if errors.Major}}is-invalid{{/if}}"
                               value="{{student.Major}}">
                        {{#if errors.Major}}
                            <div class="invalid-feedback">{{errors.Major}}</div>{{/if}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">GPA</label>
                        <input name="GPA" class="form-control {{#if errors.GPA}}is-invalid{{/if}}"
                               value="{{student.GPA}}">
                        {{#if errors.GPA}}
                            <div class="invalid-feedback">{{errors.GPA}}</div>{{/if}}
                    </div>
                </div>
            </div>


            <div class="text-end">
                <a href="/" class="btn btn-outline-secondary btn-pill">Cancel</a>
                <button class="btn btn-primary btn-pill">{{submitLabel}}</button>
            </div>
        </form>
    </div>
</div>